body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#header {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 500px;
  box-shadow: 5px 10px 8px #888888;
}
p,
label {
  font-size: 16px;
}
li {
  font-size: 14px;
}
#form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  background-color: #4caf50; /* Green */
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white; /* Green */
  color: #4caf50;
  border: 1px solid #4caf50;
}

#help-text {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  color: red;
  font-style: italic;
}
